%p#notice= notice

%p
  %b Name:
  = @game.name
%p
  %b Description:
  = @game.description
%p
  %b Token:
  = @game.access_token_digest
%p
  %b Game Key:
  = @game.access_key

#ranking_list
  = render @game.rankings

= link_to 'Edit', edit_game_path(@game)
\|
= link_to 'Back', games_path
